<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--获得时间-->
    <script src="../static/js/get_time.js"></script>
    <!--表单验证-->
    <link rel="stylesheet" href="../static/css/bootstrapValidator.min.css">
    <script type="text/javascript" src="../static/js/bootstrapValidator.min.js"></script>
    <!-- include summernote css/js-->
    <script src="../static/js/summernote.js"></script>
    {#    <link href="../static/css/summernote.css" rel="stylesheet">#}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

    <!--打开pdf文件-->
    <script src="../static/js/jquery.media.js"></script>

</head>

{% block body %}

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MR.z</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../index">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="../write">我是小张</a></li>
                <li><a href="../about">查看小张</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">loading</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">敬请期待</a></li>
                    </ul>
                </li>
            </ul>
            <div class="btn-group col-lg-offset-3" >
            <ul class="nav navbar-nav">
                {% if request.session.username %}
                    <li><a>欢迎您，{{ request.session.username }}</a></li>
                    <li><a href="../logout"><button class="btn btn-primary" data-toggle="modal">注销</button></a></li>
                    <li><a href="../admin/">后台</a></li>
                {% else %}
                    <li><a href="../register"><button class="btn btn-primary" data-toggle="modal">注册</button></a></li>
                    <li><a href="../login"><button class="btn btn-primary" data-toggle="modal">登陆</button></a></li>
                {% endif %}
            </ul>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="page-header">
        <img src="../static/images/head/head.jpg" class="img-responsive" alt="Responsive image">
    </div>

{% block main %}

    <div class="col-lg-8">

        {% block content %}

        {% endblock %}

    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="查点什么吧...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">GO</button>
              </span>
        </div><!-- /input-group -->
        <hr>
        <table>
            <tr>
                <!--时间显示-->
                <div id="divT" class="text-info h2 text-center "></div>
            </tr>
            <tr>
                <hr>
                <!--神经网络-->
                <canvas id=c style="position: absolute; height: 250px; width: 350px"></canvas>
            </tr>
            <tr>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><hr>
            </tr>
            <tr>
                <strong><p>留下点什么吧...</p></strong>
            </tr>
            <tr>
            <!--留言板-->
                    <div class="summernote"></div>
                <br>
                    <button id="tijiao" class="btn btn-primary" onclick="tijiao()" type="submit">保存</button>
            </tr>
        </table>
    </div>

{% endblock %}

</div>

<hr>

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="text-center">
                Copyright &copy; 2016.yesheng_zhang</a>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

</body>

{% endblock %}

<!--留言板-->
<script>
    $(document).ready(function() {
        $('.summernote').summernote({
                focus: false,// set focus to editable area after initializing summernote
                height:300,// set editor height
                minHeight:null,// set minimum height of editor
                maxHeight:null// set maximum height of editor
            });
    });

     var tijiao = function() {
            var body = $('.click2edit').summernote('code');
            $('.click2edit').summernote('destroy');
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
            $.post('../liuyan/', {'body':body});
        };
</script>


<!--表单验证-->
<script>
    $(document).ready(function() {
        $('#registerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength:{
                            min: 4,
                            max: 20,
                            message: '用户名长度不能少于4个字符且不能多余20个字符'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '用户名只能由字母、数字和下划线组成'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 20,
                            message: '密码长度在4-20个字符'
                        },
                    }
                },
                password1: {
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        },
                        identical: {
                            field: 'password',
                            message: '两次密码输入不一致'
                        }
                    }
                },
                sex:{
                    validators: {
                        notEmpty: {
                            message: '请选择'
                        }
                    }
                }
            }
        });

        $('#loginForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不为空 '
                        }
                    }
                }
            }
        });
    });
</script>


<!--神经网络-->
<script>
    /**
     * Created by _Zhang on 2016/5/5.用于显示神经网络的动态图
     */
    var w = c.width = window.innerWidth,
            h = c.height = window.innerHeight,
            ctx = c.getContext('2d'),

            opts = {

                range: 180,
                baseConnections: 3,
                addedConnections: 5,
                baseSize: 5,
                minSize: 1,
                dataToConnectionSize: .4,
                sizeMultiplier: .7,
                allowedDist: 40,
                baseDist: 40,
                addedDist: 30,
                connectionAttempts: 100,

                dataToConnections: 1,
                baseSpeed: .02,
                addedSpeed: .02,
                baseGlowSpeed: .2,
                addedGlowSpeed: .2,

                rotVelX: .003,
                rotVelY: .002,

                repaintColor: '#111',
                connectionColor: 'hsla(200,60%,light%,alp)',
                rootColor: 'hsla(0,60%,light%,alp)',
                endColor: 'hsla(160,20%,light%,alp)',
                dataColor: 'hsla(40,80%,light%,alp)',

                wireframeWidth: .1,
                wireframeColor: '#88f',

                depth: 100,
                focalLength: 150,
                vanishPoint: {
                    x: w / 2,
                    y: h / 2
                }
            },

            squareRange = opts.range * opts.range,
            squareAllowed = opts.allowedDist * opts.allowedDist,
            mostDistant = opts.depth + opts.range,
            sinX = sinY = 0,
            cosX = cosY = 0,

            connections = [],
            toDevelop = [],
            data = [],
            all = [],
            tick = 0,
            totalProb = 0,

            animating = false,

            Tau = Math.PI * 2;

    ctx.fillStyle = '#222';
    ctx.fillRect(0, 0, w, h);
    ctx.fillStyle = '#ccc';
    ctx.font = '50px Verdana';
    ctx.fillText('Calculating Nodes', w / 2 - ctx.measureText('Calculating Nodes').width / 2, h / 2 - 15);

    window.setTimeout(init, 4); // to render the loading screen

    function init() {

        connections.length = 0;
        data.length = 0;
        all.length = 0;
        toDevelop.length = 0;

        var connection = new Connection(0, 0, 0, opts.baseSize);
        connection.step = Connection.rootStep;
        connections.push(connection);
        all.push(connection);
        connection.link();

        while (toDevelop.length > 0) {

            toDevelop[0].link();
            toDevelop.shift();
        }

        if (!animating) {
            animating = true;
            anim();
        }
    }

    function Connection(x, y, z, size) {

        this.x = x;
        this.y = y;
        this.z = z;
        this.size = size;

        this.screen = {};

        this.links = [];
        this.probabilities = [];
        this.isEnd = false;

        this.glowSpeed = opts.baseGlowSpeed + opts.addedGlowSpeed * Math.random();
    }
    Connection.prototype.link = function() {

        if (this.size < opts.minSize)
            return this.isEnd = true;

        var links = [],
                connectionsNum = opts.baseConnections + Math.random() * opts.addedConnections | 0,
                attempt = opts.connectionAttempts,

                alpha, beta, len,
                cosA, sinA, cosB, sinB,
                pos = {},
                passedExisting, passedBuffered;

        while (links.length < connectionsNum && --attempt > 0) {

            alpha = Math.random() * Math.PI;
            beta = Math.random() * Tau;
            len = opts.baseDist + opts.addedDist * Math.random();

            cosA = Math.cos(alpha);
            sinA = Math.sin(alpha);
            cosB = Math.cos(beta);
            sinB = Math.sin(beta);

            pos.x = this.x + len * cosA * sinB;
            pos.y = this.y + len * sinA * sinB;
            pos.z = this.z + len * cosB;

            if (pos.x * pos.x + pos.y * pos.y + pos.z * pos.z < squareRange) {

                passedExisting = true;
                passedBuffered = true;
                for (var i = 0; i < connections.length; ++i)
                    if (squareDist(pos, connections[i]) < squareAllowed)
                        passedExisting = false;

                if (passedExisting)
                    for (var i = 0; i < links.length; ++i)
                        if (squareDist(pos, links[i]) < squareAllowed)
                            passedBuffered = false;

                if (passedExisting && passedBuffered)
                    links.push({
                        x: pos.x,
                        y: pos.y,
                        z: pos.z
                    });

            }

        }

        if (links.length === 0)
            this.isEnd = true;
        else {
            for (var i = 0; i < links.length; ++i) {

                var pos = links[i],
                        connection = new Connection(pos.x, pos.y, pos.z, this.size * opts.sizeMultiplier);

                this.links[i] = connection;
                all.push(connection);
                connections.push(connection);
            }
            for (var i = 0; i < this.links.length; ++i)
                toDevelop.push(this.links[i]);
        }
    }
    Connection.prototype.step = function() {

        this.setScreen();
        this.screen.color = (this.isEnd ? opts.endColor : opts.connectionColor).replace('light', 30 + ((tick * this.glowSpeed) % 30)).replace('alp', .2 + (1 - this.screen.z / mostDistant) * .8);

        for (var i = 0; i < this.links.length; ++i) {
            ctx.moveTo(this.screen.x, this.screen.y);
            ctx.lineTo(this.links[i].screen.x, this.links[i].screen.y);
        }
    }
    Connection.rootStep = function() {
        this.setScreen();
        this.screen.color = opts.rootColor.replace('light', 30 + ((tick * this.glowSpeed) % 30)).replace('alp', (1 - this.screen.z / mostDistant) * .8);

        for (var i = 0; i < this.links.length; ++i) {
            ctx.moveTo(this.screen.x, this.screen.y);
            ctx.lineTo(this.links[i].screen.x, this.links[i].screen.y);
        }
    }
    Connection.prototype.draw = function() {
        ctx.fillStyle = this.screen.color;
        ctx.beginPath();
        ctx.arc(this.screen.x, this.screen.y, this.screen.scale * this.size, 0, Tau);
        ctx.fill();
    }

    function Data(connection) {

        this.glowSpeed = opts.baseGlowSpeed + opts.addedGlowSpeed * Math.random();
        this.speed = opts.baseSpeed + opts.addedSpeed * Math.random();

        this.screen = {};

        this.setConnection(connection);
    }
    Data.prototype.reset = function() {

        this.setConnection(connections[0]);
        this.ended = 2;
    }
    Data.prototype.step = function() {

        this.proportion += this.speed;

        if (this.proportion < 1) {
            this.x = this.ox + this.dx * this.proportion;
            this.y = this.oy + this.dy * this.proportion;
            this.z = this.oz + this.dz * this.proportion;
            this.size = (this.os + this.ds * this.proportion) * opts.dataToConnectionSize;
        } else
            this.setConnection(this.nextConnection);

        this.screen.lastX = this.screen.x;
        this.screen.lastY = this.screen.y;
        this.setScreen();
        this.screen.color = opts.dataColor.replace('light', 40 + ((tick * this.glowSpeed) % 50)).replace('alp', .2 + (1 - this.screen.z / mostDistant) * .6);

    }
    Data.prototype.draw = function() {

        if (this.ended)
            return --this.ended; // not sre why the thing lasts 2 frames, but it does

        ctx.beginPath();
        ctx.strokeStyle = this.screen.color;
        ctx.lineWidth = this.size * this.screen.scale;
        ctx.moveTo(this.screen.lastX, this.screen.lastY);
        ctx.lineTo(this.screen.x, this.screen.y);
        ctx.stroke();
    }
    Data.prototype.setConnection = function(connection) {

        if (connection.isEnd)
            this.reset();

        else {

            this.connection = connection;
            this.nextConnection = connection.links[connection.links.length * Math.random() | 0];

            this.ox = connection.x; // original coordinates
            this.oy = connection.y;
            this.oz = connection.z;
            this.os = connection.size; // base size

            this.nx = this.nextConnection.x; // new
            this.ny = this.nextConnection.y;
            this.nz = this.nextConnection.z;
            this.ns = this.nextConnection.size;

            this.dx = this.nx - this.ox; // delta
            this.dy = this.ny - this.oy;
            this.dz = this.nz - this.oz;
            this.ds = this.ns - this.os;

            this.proportion = 0;
        }
    }
    Connection.prototype.setScreen = Data.prototype.setScreen = function() {

        var x = this.x,
                y = this.y,
                z = this.z;

        // apply rotation on X axis
        var Y = y;
        y = y * cosX - z * sinX;
        z = z * cosX + Y * sinX;

        // rot on Y
        var Z = z;
        z = z * cosY - x * sinY;
        x = x * cosY + Z * sinY;

        this.screen.z = z;

        // translate on Z
        z += opts.depth;

        this.screen.scale = opts.focalLength / z;
        this.screen.x = opts.vanishPoint.x + x * this.screen.scale;
        this.screen.y = opts.vanishPoint.y + y * this.screen.scale;

    }

    function squareDist(a, b) {

        var x = b.x - a.x,
                y = b.y - a.y,
                z = b.z - a.z;

        return x * x + y * y + z * z;
    }

    function anim() {

        window.requestAnimationFrame(anim);

        ctx.globalCompositeOperation = 'source-over';
        ctx.fillStyle = opts.repaintColor;
        ctx.fillRect(0, 0, w, h);

        ++tick;

        var rotX = tick * opts.rotVelX,
                rotY = tick * opts.rotVelY;

        cosX = Math.cos(rotX);
        sinX = Math.sin(rotX);
        cosY = Math.cos(rotY);
        sinY = Math.sin(rotY);

        if (data.length < connections.length * opts.dataToConnections) {
            var datum = new Data(connections[0]);
            data.push(datum);
            all.push(datum);
        }

        ctx.globalCompositeOperation = 'lighter';
        ctx.beginPath();
        ctx.lineWidth = opts.wireframeWidth;
        ctx.strokeStyle = opts.wireframeColor;
        all.map(function(item) {
            item.step();
        });
        ctx.stroke();
        ctx.globalCompositeOperation = 'source-over';
        all.sort(function(a, b) {
            return b.screen.z - a.screen.z
        });
        all.map(function(item) {
            item.draw();
        });

        /*ctx.beginPath();
         ctx.strokeStyle = 'red';
         ctx.arc( opts.vanishPoint.x, opts.vanishPoint.y, opts.range * opts.focalLength / opts.depth, 0, Tau );
         ctx.stroke();*/
    }

    window.addEventListener('resize', function() {

        opts.vanishPoint.x = (w = c.width = window.innerWidth) / 2;
        opts.vanishPoint.y = (h = c.height = window.innerHeight) / 2;
        ctx.fillRect(0, 0, w, h);
    });
    window.addEventListener('click', init);
</script>

</html>